<div id="home">
      <div class="home-wrapper">
      <div class="one-sixth-screen xs-one-third-screen position-relative">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding slider-typography text-center">
                      <div class="slider-text-middle-main">
                          <div class="slider-text-middle">
                              <div class="slider-content tz-border xs-text-center" id="tz-br-1">
                                    <h1 class="title">We are <typer words="titles" type-time='200' backspace-time='200' start-delay='1500' highlight-background='#60ba25' shuffle="true" repeat="true"></typer>
                                    </h1>
                                    <h3 class="sub-title">Introducing the first online marketplace in <span class="bg-blue"><b>Victoria</b></span> for hiring trusted neighbours to do all your TASKS.<br><br>Get offers immediately. </h3>
                                    <a ng-click="postTask()" class="btn btn-custom btn-lg btn-opaq post-btn">Post a Task</a> <a ui-sref="tasks" class="btn btn-custom btn-lg btn-opaq lend-btn">Browse Tasks</a>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
</div>
<!-- <video id="home-bg-vid" src="/content/vid/home.mp4" autoplay></video> -->
