<div class="modal-header">
            <h3 class="modal-title" id="modal-title">Welcome</h3>
        </div>
        <div class="modal-body" id="modal-body">
             <a ng-click="facebookLogin()" class="btn btn-facebook btn-block">Continue using Facebook</a>
                <a ng-click="googleLogin()" class="btn btn-google btn-block">Continue using Google</a>
        </div>
        <div class="modal-footer">
            <p>By continuing you agree to our <a ui-sref="page.terms">terms</a> & <a ui-sref="page.policy">privacy policy.</a></p>
        </div>
    </script>
