<header id="alt" class="about-page">
    <div class="dark-overlay"></div>
    <!-- Navigation -->
    <div class="wrap-content">
        <div class="center-content">
            <div class="container">
                <div class="col-md-12 text-center">
                    <h1>About Us</h1>
                    <p class="head-lead">Learn more about the makers</p>
                </div>
            </div>
        </div>
    </div>
</header>
<main id="aboutUs">
    <!-- Page Content -->
    <section class="page-content bg-shade">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title"><div class="section_title_text"><h2 class="text-uppercase">What we do</h2></div><hr></div>
                    <br>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-4 text-center what_we_do">
                    <img src="/content/img/about_process/searching.svg" width="215" class="img-responsive center-block" />
                    <br><br>
                    <h6><b>Take care of your tasks</b></h6>
                    <br>
                    <p>Taskoli is an organization that understand that time and money are valuable to everyone. Our vision for the future is to help direct individual lifestyles to a place where people are able to earn extra money in a way that fits their busy schedule. Taskoli is a great fit for everyone whether you are a student, busy parent, in between jobs, or simply looking to make some extra money.</p>
                </div>
                <div class="col-md-4 text-center what_we_do">
                    <img src="/content/img/about_process/find.svg" width="215" class="img-responsive center-block" />
                    <br><br>
                    <h6><b>With help from your Neighbours</b></h6>
                    <br>
                    <p>Our company strives to use the principle of working within the community to bring people together to achieve a practical way to work with others. This process is a simple yet effective way to bring freedom and adjustability to everyday life. Our easy to use platform was developed to satisfy both parties’ needs and to create a tight-knit community among those who are able to benefit from each other.</p>
                </div>
                <div class="col-md-4 text-center what_we_do">
                    <img src="/content/img/about_process/relax.svg" width="215" class="img-responsive center-block" />
                    <br><br>
                    <h6><b>So You Can Relax</b></h6>
                    <br>
                    <p>We at Taskoli are committed to continuously improving our standards in order to satisfy the needs and goals of the community. We are always open to suggestions on how to make Taskoli work better. Please feel free to send us a message under the ‘Contact Us’ option; we are happy to hear from you. We hope to hear from you soon and thank you for using Taskoli.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="makers" class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title"><div class="section_title_text"><h2 class="text-uppercase">MEET THE FOUNDERS</h2></div><hr></div>
                    <br>
                </div>
                <div class="col-md-12">
                    <p>The idea of Taskoli started in a coffee shop in downtown Victoria BC, in 2015. Sonny and Josh the co-founders, were enjoying a cup of coffee after work which didn't happen often due to their busy schedules. Josh said that he wasn’t able to stay long because he had a couple or errands to run before the stores closed. Jokingly, Sonny replied with, "Wouldn't it be nice if those errands could be done for you?"</p>

                    <p>Then, it dawned on them. </p>
                    
                    <p>What if they could create a service that would allow users to take back the time that they had already allotted in their busy schedules?</p>

                    <p>And that's exactly what Sonny and Josh did. <br>
                    They created Taskoli; a thoughtfully developed program that is simple and easy to use, designed to help free up time in your busy schedule. Sonny and Josh want to help you worry less about your “to-do” list, and start living your “can-do” list.
                    </p>
                    
                    <p>“Hey, my name is Sonny. I love motorcycles and just recently bought a used KLR. What I didn’t know at the time of purchase was that the wiring harness needed to be worked on and fixed, I don't possess the skills or knowledge to fix this. I thought it would be helpful if I was able to hire someone from my community who had the knowledge and experience that I lacked, that would be able to help work on my bike for a lower price than a mechanical shop would cost. I imagined this would be the perfect task for a student electrician or a retired mechanic who may be looking to make a little extra money. So, with the help of my friend, we worked together to build this company.”</p>

                    <p>“Hi, I’m Josh and I have only lived in Victoria for a couple of years. Moving from Nova Scotia, there were a lot of moving expenses that I did not initially anticipate. I had always considered looking for a small side job to earn some extra money to help cover the costs of moving, but there was never anything that seemed to work around my schedule. With the teamwork of my friend Sonny, we worked hard to create Taskoli and make this possibility a reality.”</p>

                </div>
        </div>
    </section>

    <section id="support" class="page-content">
        <div class="overlay-black"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-uppercase">Support</h1>
                    <p class="head-lead">Need any help? Contact us below.</p>
                    <p>&nbsp;</p>
                    <a ng-href="/page/contactus" class="btn btn-white btn-lg">Drop us a line</a>
                </div>
            </div>
        </div>
    </section>

    <section id="cta" class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase">Browse for services</h3>
                    <br>
                    <a ui-sref="tasks" class="btn btn-primary btn-lg">Explore</a>
                </div>
            </div>
        </div>
    </section>
</main>
