<!-- Page Content -->
<header id="alt" class="how-page">
        <div class="dark-overlay"></div>
        <div class="wrap-content">
            <div class="center-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>Need some help with a job?</h2>
                            <p class="white">
                                <span class="white">Find the right person for the job here.</span><br>
                                With <a ui-sref="home"><b>Taskoli</b></a> you can get local help with you task within minutes!
                            </p>
                            <br>
                               <p class="white">Click TASK-IT-OUT anytime !!!</p>
                          
                                <!--<a href="#" class="btn btn-primary btn-lg login_popup">Post a Task</a>-->
                          
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<main id="how-it-works">
    <section id="step-1" class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5 margin-top-fix">
                    <h3><b>How It Works?</b></h3>
                    <br>
                    <p>
                        Taskoli's innovative bidding system allows you to gain back your personal time while saving you money. You don’t have to
                        spend time composing a well thought out email to reach out to a potential employer, all you have
                        to do is make an offer on a task. And posting a task is only a click away!
                    </p>
                    <br>

                    <h3><b>Signing Up</b></h3>
                    <br>

                    <ul class="module-list">
                        <li>A new window will open allowing you to create a profile by simply signing up with Facebook&reg; or
                            Google+&reg;.</li>
                        <li>Now you can click 'login' and choose to login with Facebook or Google+.</li>
                        <li>Clicking on the Taskoli icon in the top left corner will direct you back to the home page.</li>
                    </ul>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img src="/content/img/idea-business-man.png" width="200" class="business-man img-responsive center-block"/>
                </div>
            </div>
        </div>
    </section>

    <section id="step-2" class="page-content grey-shade">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3><b>How to Post a Task</b></h3>
                    <br>

                    <ul class="module-list">
                        <li>To post a task, go to the home page and click the "Post a task" icon or click on any of the category
                            options located below and your task will be posted within that category.</li>
                        <li>Fill in all the text boxes on the "Post a task" page. Please give as many details as possible about
                            your task and what you expect to be done. Choose the time and date you wish your task to be completed
                            by. Then go ahead and 'hire' one of the taskers that have made an offer on your task to assign
                            them the task.</li>
                    </ul>

                </div>
                <div class="col-md-6">
                    <img src="/content/img/window.png" class="window-screen" />
                </div>
            </div>
        </div>
    </section>

    <section id="step-3" class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="overlay-module">
                        <img src="/content/img/send_message.png" class="comp-screen module-static" />
                        <img src="/content/img/send_message.gif" class="comp-screen module-animated" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h3><b>How to make an offer on a Task</b></h3>
                    <br>

                    <ul class="module-list">
                        <li>To make an offer on a task you would like to complete, click the 'check it out' button or 'view task'
                            button and then fill out the 'your offer' fields on the right side of the screen. Fill out your
                            offer price and a quick message to the emploter.</li>
                        <li>Then click the "submit" button to make an offer on this task. Please note that you can only make
                            one offer per task.</li>
                    </ul>
                </div>
            </div>
            <br><br><br><br><br><br>
        </div>
    </section>

    <section id="step-2" class="page-content grey-shade">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3><b>Asking questions before making an offer on a Task.</b></h3>
                    <br>

                    <ul class="module-list">
                        <li>To ask a question before making an offer on a task, scroll down to the bottom of the 'Task Overview'
                            page. Write your question in the field and click 'Send'.</li>

                    </ul>

                </div>
                <div class="col-md-6">
                    <img src="/content/img/window.png" class="window-screen" />
                </div>
            </div>
        </div>
    </section>


    <section id="support" class="page-content">
        <div class="overlay-black"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-uppercase">Support</h1>
                    <p class="head-lead">Need any help? Contact us below.</p>
                    <p>&nbsp;</p>
                    <a ng-href="/page/contactus" class="btn btn-white btn-lg">Drop us a line</a>
                </div>
            </div>
        </div>
    </section>

    <section id="cta" class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase">Browse for services</h3>
                    <br>
                    <a ui-sref="tasks" class="btn btn-primary btn-lg" ui-sref="tasks">Explore</a>
                </div>
            </div>
        </div>
    </section>
</main>