<header id="alt" class="faq-page">
    <div class="dark-overlay"></div>
        <div class="wrap-content">
            <div class="center-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>We're pretty sure you'll find what you're looking for in here...</h2>
                            <p>
                                <span class="white">However, If you still need a hand, feel free to <a ui-sref="page.contactus">contact us</a>, we're happy to help!</span><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
   <section id="faq-module" class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="faq-item">
                        <input id="ac-1" name="accordion-1" type="checkbox"  checked />
                        <label for="ac-1">How does Taskoli work?</label>
                        <article class="ac-small">
                            <p>
                              Taskoli works by providing the resources to connect people who require work/tasks to be completed with community members looking for extra income.

                            </p>
                        </article>
                    </div>
                    <div class="faq-item">
                        <input id="ac-2" name="accordion-1" type="checkbox"/>
                        <label for="ac-2">Why should I use Taskoli?</label>
                        <article class="ac-medium">
                            <p>
                            Taskoli is an easy, go-to platform to get all your chores, errands, and extra assistance handled that will leave you with more free time in your daily routine.
                            </p>
                        </article>
                    </div>
                    <div class="faq-item">
                        <input id="ac-3" name="accordion-1" type="checkbox" />
                        <label for="ac-3">Why should I trust Taskoli?</label>
                        <article class="ac-medium">
                            <p>
                               Taskoli values morality and confidence and is based around the sense of a strong, close-knit community. The founders are a few members of the Navy who are trying to provide access to a little extra help, while giving members of our community the opportunity to make money assisting those in need.
                            </p>
                        </article>
                    </div>
                    <div class="faq-item">
                        <input id="ac-4" name="accordion-1" type="checkbox" />
                        <label for="ac-4">How much does Taskoli cost?</label>
                        <article class="ac-medium">
                            <p>
                              Taskoli is completely free to all people posting tasks, and all people looking for work. 
                            </p>
                        </article>
                    </div>
                    <div class="faq-item">
                        <input id="ac-5" name="accordion-1" type="checkbox" />
                        <label for="ac-5">Will the Tasker be who they say they are?</label>
                        <article class="ac-medium">
                            <p>
                              All members of Taskoli are required to sign up and login with Facebook or Google+. Taskers and Employers are members of your community that can easily be verified through their profiles.
                            </p>
                        </article>
                    </div>
                    <div class="faq-item">
                        <input id="ac-6" name="accordion-1" type="checkbox" />
                        <label for="ac-6">Will Taskoli post on my Facebook? </label>
                        <article class="ac-medium">
                            <p>
                              No, Taskoli will not post on your Facebook. However, we do appreciate and encourage you to like and follow our Facebook page to ensure that we can spread knowledge of our services in the community. We will do our best to reply to all comments and questions on our Facebook page in a timely manner.
                            </p>
                        </article>
                    </div>
                    <div class="faq-item">
                        <input id="ac-7" name="accordion-1" type="checkbox" />
                        <label for="ac-7">Will Taskoli share or sell my information?</label>
                        <article class="ac-medium">
                            <p>
                              Under no circumstance will Taskoli sell or share any customer information. Taskoli may only disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
                            </p>
                        </article>
                    </div>
                    
                    <div class="faq-item">
                        <input id="ac-8" name="accordion-1" type="checkbox" />
                        <label for="ac-8">How can I pay the Tasker?</label>
                        <article class="ac-medium">
                            <p>
                                You can pay the tasker with cash, paypal, or stripe.
                            </p>
                        </article>
                    </div>

                    <div class="faq-item">
                        <input id="ac-9" name="accordion-1" type="checkbox" />
                        <label for="ac-9">Are Taskers employees of Taskoli?</label>
                        <article class="ac-medium">
                            <p>
                              No, Taskoli is merely an organization that helps bring employers and taskers together. Taskers are members of your community looking for extra work.
                            </p>
                        </article>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section id="support" class="page-content">
        <div class="overlay-black"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-uppercase">Our story</h1>
                    <p class="head-lead">Find more about what we do!</p>
                    <p>&nbsp;</p>
                    <a ui-sref="page.about" class="btn btn-white btn-lg">Discover</a>
                </div>
            </div>
        </div>
    </section>

    <section id="cta" class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase">BROWSE FOR WORK</h3>
                    <br>
                    <a ui-sref="tasks"class="btn btn-primary btn-lg">Explore</a>
                </div>
            </div>
        </div>
    </section>

